streamlit
python-dotenv
SQLAlchemy
langchain
langchain-groq
langchain-google-genai
pandas
numpy
plotly
pytz
qrcode
Pillow
pyotp
sendgrid
bcrypt
email-validator
langchain-core
langchain-community
langchain-experimental

